* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
  background-color: #141414;
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  text-transform: uppercase;
  background-color: #0d0d0d;
  text-align: center;
  color: white;
}

footer {
  text-align: center;
  background-color: #0d0d0d;
  margin-top: auto;
  color: #eee;
}

footer a {
  color: #eee;
}

footer a:hover {
  color: #ce1010;
}

header h1 {
  margin: 0;
  padding: 20px 0;
  font-weight: normal;
  font-size: 2.5em;
  letter-spacing: 3px;
}

header h1 .red {
  color: #ce1010;
}

form {
  color: #eee;
  margin: 20px;
}

form p {
  font-size: 18px;
  letter-spacing: 0.1em;
}

input[type="radio"] {
  opacity: 0;
  width: 0;
  margin: 0;
}

label[for="male"],
label[for="female"] {
  margin-bottom: 10px;
  display: inline-block;
  padding-left: 26px;
  background: url(img/checks.png) no-repeat;
  background-position: 0 -32px;
  line-height: 24px;
  cursor: pointer;
}

input:checked + label[for="male"],
input:checked + label[for="female"] {
  background-position: 0 0;
  color: #ce1010;
}

input[type="checkbox"] {
  opacity: 0;
  margin: 0;
  width: 0;
}

label[for="web_development"],
label[for="singing"],
label[for="photoshop"] {
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 26px;
  background: url(img/checks.png) no-repeat;
  background-position: 0 -98px;
  line-height: 24px;
  cursor: pointer;
}

input:checked + label[for="web_development"],
input:checked + label[for="singing"],
input:checked + label[for="photoshop"] {
  background-position: 0 -65px;
  color: #ce1010;
}

fieldset {
  border-radius: 25px;
  padding: 20px;
  margin: 20px 0;
  border: 3px solid #222;
}

legend {
  padding: 10px;
  font-size: 18px;
  letter-spacing: 0.1em;
}

input[type="email"],
input[type="tel"] {
  display: block;
  margin-bottom: 20px;
  padding: 10px 10px 10px 50px;
  border: 0;
  border-radius: 4px;
  background: url(img/inputs.png) no-repeat;
  background-color: #222;
  font-size: 16px;
  color: #fff;
  float: left;
  clear: both;
}

input[type="email"] {
  background-position: 7px 8px;
}

input[type="tel"] {
  background-position: 7px -58px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;

  display: block;
  margin: 30px 0;
  padding: 10px 50px 10px 10px;
  background: url(img/select.png) no-repeat 95% center;
  background-color: #222;
  color: #fff;
  border-radius: 4px;
  border: 2px solid white;
  width: 260px;
  text-align: center;
}

input[type="submit"] {
  background: #b61111;
  padding: 15px;
  color: white;
  font-size: 20px;
  letter-spacing: 0.1em;
  border-radius: 4px;
  border: 0;
  box-sizing: 1px 3px 5px rgba(0,0,0,0.5);
  width: 260px;
}

input[type="email"]:valid,
input[type="tel"]:valid {
  border: 2px solid white;
}

input[type="email"]:valid {
  background-position: 7px -22px;
}

input[type="tel"]:valid {
  background-position: 7px -97px;
}

input[type="email"]:valid + .tick,
input[type="tel"]:valid + .tick {
  background: url(img/tick.png) center;
  background-size: 100%;
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin: 10px;
}

@media (min-width: 769px) {
  body {
    width: 60%;
    max-width: 700px;
  }

  header h1 {
    font-size: 3em;
  }
}

@media (min-width: 1025px) {
  body {
    width: 60%;
  }
}
